<div class="container mt-3">
  <h2>Sign up to add recipe</h2>

  <form action="/auth/signup" method="post">
    <div>
      <label>First Name</label>
      <input name="firstname" placeholder="John" />
    </div>
    <div>
      <label>Last Name</label>
      <input name="lastname" placeholder="David" />
    </div>
    <div>
      <label>Email</label>
      <input name="email" type="email" placeholder="johndavid@gmail.com" />
    </div>
    <div>
      <label>Password</label>
      <input name="password" type="password" placeholder="******" />
    </div>
    <button type="submit">Sign up</button>
  </form>
</div>