<header>
 <form action="/partials/header" method="GET">  
    <nav>
        <a href="/">Recipe Database</a>
        <ul class="list-group">
            <li class="list-group-item"><a href="/chefs">Chefs</a></li>
            <li class="list-group-item"><a href="/chefs/new">Add Chef</a></li>
            <li class="list-group-item"><a href="/recipes">Recipes</a></li>
            <li class="list-group-item"><a href="/recipes/new">Add Recipes</a></li>
        </ul>
    </nav>  
 </form>   
</header>