<h2>Edit Chef</h2>
<form action="/chefs/<%= chef.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/chefs/<%= chef.id %>">Cancel</a>
  <button type="submit">Update</button>
</form>