<h2 class="page-header"><%= chef.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/chefs/<%= chef.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
              { url: `/chefs/${chef.id}` }) %>
</div>
<% if (recipesByChef.length > 0) { %>
  <h2 class="page-header">Recipes By Chef</h2>
  <%- include('../partials/recipeGrid', { recipes: recipesByChef }) %>
<% } %>